@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> <!--320-->
    <title>Confirm Prebook | DIGI CHAMPS</title>
    <link href="~/Student_assets/images/fav-icon.jpg" rel="shortcut icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='~/Student_assets/assets/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/material.css'>
    <link href="~/Student_assets/assets/css/video-js.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='~/Student_assets/assets/css/animated-masonry-gallery.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/rotated-gallery.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/sweet-alerts/sweetalert.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/jtree.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/range-slider/ion.rangeSlider.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/range-slider/ion.rangeSlider.skinFlat.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/owl.carousel.min.css'>
    <link rel='stylesheet' href='~/Student_assets/assets/css/style.css'>
    <script src='~/Student_assets/assets/js/jquery.js'></script>
    <script src='~/Student_assets/assets/js/app.js'></script>
    <script>
        jQuery(window).load(function () {
            $('.ntspl-preloader').addClass('hidden');
        });
    </script>
</head>
<body class="checkout-page">
    <div class="ntspl-preloader text-center">
        <!-- <div class="progress">
            <div class="indeterminate"></div>
        </div> -->
        <div class="loader">Loading...</div>
    </div>
    <div class="wrapper ">
        <!-- left-bar -->
        <!-- left-bar ends -->
        <div class="content full-page" id="content">
            <div class="overlay"></div>
            <!-- /top-bar -->
            <div class="top-bar">
                <nav class="navbar navbar-default top-bar">
                    <div class="full-logo">
                        <a href="/Student/StudentDashboard"><img class="logo" src="~/Student_assets/images/Digichamps-small.jpg" alt="logo"></a>
                    </div>
                    <div class="menu-bar-mobile" id="open-left">
                        <i class="ti-menu"></i>
                    </div>
                    <a href="#" class="menu-bar  pull-left"><i class="ti-menu"></i></a>

                    <ul class="nav navbar-nav navbar-right top-elements">

                        <li class="ntspl-dropdown dropdown">
                            <!-- todo Change design here, its bit of odd or not upto usable -->

                            <a href="#" class="dropdown-toggle avatar_width" data-toggle="dropdown" role="button" aria-expanded="false">
                               
                            </a>
                            <ul class="dropdown-menu dropdown-ntspl-menu  animated fadeInUp wow avatar_drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
                                <li>
                                    <a href="/Student/Logout" class="logout_button"><i class="ion-power"></i>Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </nav>

            </div>                <!-- /top-bar ends -->
            <!-- Page Header -->
            <div class="page_header page_header_tab">
                <div class="row">
                    <div class="col-md-8 pull-left div-buttom-margin">
                        <span class="main-text">Pre-Book</span>
                    </div>
                    <div class="col-md-2 pull-right test-clock">
                        <div id="clockbox"></div>
                        <div id="clockboxd"></div>
                    </div>
                    <div class="col-md-12">
                        <h1 class="head-text">Pre-Book</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /pageheader -->

            <div class="main-content">

                        <div class="row">
                            <div class="col-md-8 questions-cont nopad-right">
                                <!-- Confirm pre-booking Starts -->

                                <div class="panel panel-ntspl">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <blockquote>
                                                    <p class="sucess-message">Pre-Book Successful !</p>
                                                    <p>Your payment has been successful, And your refence number is : @TempData["ref_code"]<br/>
                                                     you can buy packages later by redeem the reference number.</p>
                                                </blockquote>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-ntspl">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            Profile Details
                                        </h3>
                                    </div>
                                    <div class="form-div">
                                        <form id="form-a" role="form" class="form form-horizontal has-validation-callback">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Mobile Number</label>
                                                <div class="col-sm-7">
                                                    <input name="" type="text" class="form-control" value="@Session["Phone"]" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Name</label>
                                                <div class="col-sm-7">
                                                    <input name="" type="text" class="form-control" value="@Session["fname"]" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Email</label>
                                                <div class="col-sm-7">
                                                    <input name="" type="text" class="form-control" value="@Session["email"]" disabled>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Question Panel Ends -->
                            </div>

                            <div class="col-md-4">
                                <div class="panel panel-ntspl pannel-border">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            Payment Amount
                                        </h3>
                                    </div>
                                    <div class="panel-body pannel-padding">
                                        <div class="cart-summery">
                                            
                                            <div class="total-price">
                                                <p>Total Price - <span class="price-color">Rs. 1000</span></p>
                                            </div>
                                            <div class="total-tax">
                                                <p>Tax Amount - <span class="price-color">Rs. 0.00</span></p>
                                            </div>
                                        </div>
                                        <div class="grand-total">
                                            <p>Total Payable - <span>Rs. 1000</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                <div class="row">
                    <div class="col-md-12 text-center footer">
                        <p class="designed-by">©2016 Digichamps. All Rights Reserved. |  Designed By <a href="https://www.ntsplhosting.com/">NTSPL</a></p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script src='~/Student_assets/assets/js/jquery-ui-1.10.3.custom.min.js'></script>
    <script src='~/Student_assets/assets/js/bootstrap.min.js'></script>
    <script src='~/Student_assets/assets/js/jquery.nicescroll.min.js'></script>
    <script src='~/Student_assets/assets/js/wow.min.js'></script>
    <script src='~/Student_assets/assets/js/jquery.loadmask.min.js'></script>
    <script src='~/Student_assets/assets/js/jquery.accordion.js'></script>
    <script src='~/Student_assets/assets/js/materialize.js'></script>
    <script src='~/Student_assets/assets/js/build/d3.min.js'></script>
    @*<script src='~/Student_assets/assets/js/nvd3/nv.d3.js'></script>*@
    <script src='~/Student_assets/assets/js/sparkline.js'></script>
    <script src='~/Student_assets/assets/js/bic_calendar.js'></script>
    <script src='~/Student_assets/assets/js/widgets.js'></script>
    <script src='~/Student_assets/assets/js/core.js'></script>
    <script src="~/Student_assets/assets/js/jquery.countTo.js"></script>
    <script src='~/Student_assets/assets/js/range-slider/ion.rangeSlider.js'></script>
    <script src='~/Student_assets/assets/js/range-slider/custom.js'></script>
    <script src='~/Student_assets/assets/js/tooltip-custom.js'></script>
    <script src='~/Student_assets/assets/js/owl.carousel.min.js'></script>


    @*//Show error msg*@
    <script src='~/Student_assets/assets/js/noty/jquery.noty.js'></script>
    <script src='~/Student_assets/assets/js/noty/layouts/top.js'></script>
    <script src="~/Student_assets/assets/js/noty/layouts/default.js"></script>
    <script src='~/Student_assets/assets/js/noty/notifications-custom.js'></script>

    <!--Validation scripts-->
    <script type="text/javascript" src="~/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/jquery-validation/dist/additional-methods.min.js"></script>

</body>
</html>