@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_StudentIndex.cshtml";
}
 <section class="inner-banner background">
        <div class="inner-banner-patter-screen">
            <span class="shape-one"></span>
            <span class="shape-two"></span>
            <span class="shape-thre"></span>
            <span class="shape-four"></span>
            <div class="content-a">
                <div class="content-b">
                    <div class="caption_contain">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    @*<p>Ready to leave a mark?</p>*@
                                    <h2>Privacy Policy</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Banner Section End-->

<section class="content-area contact-us">
    <div class="container">
        @*<h1>Privacy Policy</h1>*@

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pri-policy">
                <p>
                    We value your trust. In order to honour that trust, DIGICHAMPS adheres to ethical standards in gathering, using, and safeguarding any information provided by you.
                </p>  <p>
    DIGICHAMPS, an initiative of SS Eduventures Pvt. Ltd. is a leading Ed-tech company, incorporated in India, for imparting learning and introducing new enhanced learning techniques to ensure the academic growth of the students.
</p>  <p>
    This privacy policy governs your use of the DIGICHAMPS application and the other associated applications and sites managed by SS Eduventures Pvt. Ltd.

</p>  <p><h3>User Provided Information</h3>
</p>  <p>
          The Application obtains the information you provide when you download and register the Application or when you sign up on the website. When you register with us and use the Application, you generally provide (a) your name, email address, phone number, password, personal bio and your educational interests; (b) transaction-related information, such as when you make purchases, respond to any offers, or download or use applications from us; (c) information you provide us when you contact us for help; (d) information you enter into our system when using the Application, such as while asking doubts, participating in discussions, taking tests or discussing with our counsellors. 
</p> 
                <p>We may use the information you provided us to contact you from time to time to provide you with important information, required notices and marketing promotions. We will ask you when we need more information that personally identifies you (personal information) or allows us to contact you.
                </p> 
                <p>
                    <h3>Automatically Collected Information</h3>
                </p>
                <p>
                    In addition, the Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your device, your operating system, the type of Internet browsers you use, and information about the way you use the Application. As is true of most Mobile applications, we also collect other relevant information as per the permissions that you provide.
                </p>
              
                <p>We use an outside payment processing company to bill you for goods and services. These companies do not retain, share, store or use personally identifiable information for any other purpose. </p>
                <p> We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to a period of time and thereafter may store it in aggregate. </p>
                <p> <h3>use of your personal information</h3></p>
                <p>We use the collected information to analyse trends, to conduct research, to administer the application, to learn about user's learning patterns and movements around the application and to gather demographic information and usage behaviour about our user base as a whole. Aggregated and individual, anonymized and non-anonymized data may periodically be transmitted to external services to help us improve the Application and our service. We will share your information with third parties only in the ways that are described below in this privacy statement. </p>
                <p>We may use the individual data and behaviour patterns combined with personal information to provide you with personalized content, and better your learning objectives. Third parties provide certain services which we may use to analyze the data and information to personalize, drive insights and help us better your experience or reach out to you with more value added applications, products, information and services. However, these third party companies do not have any independent right to share this information. </p>
                <p>DIGICHAMPS will occasionally email notices or contact you to communicate about our services and benefits, as they are considered an essential part of the service you have chosen. </p>
                <p>We may disclose ‘User provided and Automatically Collected’ Information:
As required by law, such as to comply with a subpoena, or similar legal process.
 </p>
                <p> When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</p>
                <p>With our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement. </p>
                <p> With third party service providers in order to personalize the for a better user experience and to perform behavioural analysis</p>
                <p>if DIGICHAMPS or SS Eduventures Pvt. Ltd. is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Website or other channels of any change in ownership or uses of this information, as well as any choices you may have regarding this information. </p>
                <p><h3>Access to your Personal Information</h3> We will provide you with the means to ensure that your personal information is correct and current. If you have filled out a user profile, we will provide an obvious way for you to access and change your profile from our application. </p>
                <p> <h3>Security</h3>
We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees only who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavour to provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches in which case SS Eduventures Pvt. Ltd. won’t be solely responsible.
</p>
                <p><h3>Changes to this Statement</h3>
As DIGICHAMPS evolves, our privacy policy will need to evolve as well to cover new situations.  You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.
 </p>
                <p> <h3>Your Consent</h3>
By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing,” means using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in India. If you reside outside India your information will be transferred, processed and stored there under Indian privacy standards.
</p>
                <p>Reach out to us on info@thedigichamps.com, in case of any queries. </p>
                <p><h3>Terms & Conditions</h3> </p>
                <p>1. All information, content and material, including the software, text, images, graphics, video and audio, contained in the SD Card and the products and services are copyrighted property of SS Eduventures Pvt. Ltd. All trademarks, services marks, trade names, and trade dress are proprietary to SS Eduventures Pvt. Ltd. You understand that "DIGICHAMPS” is a registered trademark owned by SS Eduventures Pvt. Ltd. This trademark may not be used in any manner without prior written consent of SS Eduventures Pvt. Ltd. No information, content or material from our products and services may be copied, downloaded, reproduced, modified, republished, uploaded, posted, transmitted or distributed in any way without obtaining prior written permission from SS Eduventures Pvt. Ltd. and nothing on this SD card shall be deemed to confer a license of or any other right, interest or title to or in any of the intellectual property rights belonging to SS Eduventures Pvt. Ltd., to the User. You may own the medium on which the information, content or materials resides, but SS Eduventures Pvt. Ltd. retain full and complete title to the information, content or materials and all intellectual property rights therein. </p>
                <p>2. Your use of our products and services provided for herein is solely for your personal and non-commercial use. Any use of this SD Card or its content other than for personal purposes is prohibited. Your personal and non-commercial use of this SD Card and / or our services shall be subjected to the following restrictions. </p>
                <p>i) You may not decompile, reverse engineer, or disassemble the contents of the SD Card and / or our products, or (c) remove any copyright, trademark registration, or other proprietary notices from the contents of the SD Card and / or our products. </p>
                <p>ii) You will not (a) use our product or service for commercial purposes of any kind, or (b) advertise or sell any products, services or otherwise (whether or not for profit), or solicit others (including, without limitation, solicitations for contributions or donations) or use any public forum for commercial purposes of any kind, or (c) use the SD Card and / or our products and services in any way that is unlawful, or harms SS Eduventures Pvt. Ltd. or any other person or entity as determined by SS Eduventures Pvt. Ltd.. </p>
                <p>3. SS Eduventures Pvt. Ltd. products and / or services, including the SS Eduventures Pvt. Ltd. application and content, are compatible with majority of the tablets/PCs/Mobile devices. However, SS Eduventures Pvt. Ltd.. shall not be obligated to provide workable products and / or services for any tablets/PCs/Mobile devices including the one recognised by us. The user should understand the tablet provided is directly procured from the company and for any issue with the tablet, the user should directly contact the company. However, as a gesture the company may lend its support in case any issue arises with the tablet provided by the company.   </p>
                <p>4. SS Eduventures Pvt. Ltd. or any of its subsidiaries or content partners shall have no responsibility for any loss or damage caused to tablet or any other hardware and / or software, including loss of data or effect on the processing speed of the tablet, those results from the use of our products and services.  </p>
                <p> i) In no event will SS Eduventures Pvt. Ltd.. be liable for damages of any kind, including without limitation, (1) indirect, punitive, special, exemplary, incidental, or consequential damage (including loss of business, revenue, profits, use, data or other economic advantage, loss of programs or information), or (2) direct damages in excess of the amount paid to SS Eduventures Pvt. Ltd. for the product and / or service, arising out of the use of, misuse of or inability to use, or errors, omissions or other inaccuracies in the Site or the products and / or services, or any information provided on the Site. Some jurisdictions do not allow the limitation or exclusion of liability. Accordingly, in such instances, some of the above limitations may not apply to the User</p>
                <p>5. You have to specify the address to which the shipment has to be made at the time of purchase. All product(s) shall be delivered directly to the address as specified at the point of ordering [and you cannot, under no circumstances whatsoever, change the address after the order is processed. Any inconsistencies in name or address will result in non-delivery of the product(s). </p>
                <p>6. (a) For return of product(s) damaged at the time of delivery, the shipping charges shall be borne by SS Eduventures Pvt. Ltd. However, for return any of the product(s) for any other reasons, it shall be the responsibility of the registered User to arrange for the return of such cancelled product(s) and the shipping charges shall be borne by such User. (b)We request you not to accept any product package that seems to be tampered with, opened or damaged at the time of delivery. The products must be returned in the same condition / unopened as delivered by SS Eduventures Pvt. Ltd.. Any products returned showing signs of any use or damage in any manner shall not be accepted for return. (c)All requests for return of damaged products (due to damage during the transit/damaged at the time of delivery) have to be placed within 2 days from the date of delivery. Please note that no refunds shall be claimed or will be entertained post 2 days from the date of delivery.</p>
                <p>7. SS Eduventures Pvt. Ltd. may also contact the user through SMS, email and call to give notifications on various important updates. Therefore, User holds SS Eduventures Pvt. Ltd. non liable to any liabilities including financial penalties, damages, expenses in case the users mobile number is registered with Do not Call (DNC) database.</p>
                <p>8. You hereby indemnify, defend, and hold SS Eduventures Pvt. Ltd., SS Eduventures Pvt. Ltd.'s distributors, agents, representatives and other authorized users, and each of the foregoing entities" respective resellers, distributors, service providers and suppliers, and all of the foregoing entities' respective officers, directors, owners, employees, agents, representatives, harmless from and against any and all losses, damages, liabilities and costs arising from your use of our product.</p>
                <p>9. In the event of breach of the terms and conditions of this Terms of Use by the User, the User shall be promptly liable to indemnify SS Eduventures Pvt. Ltd. for all the costs, losses and damages caused to SS Eduventures Pvt. Ltd. as a result of such a breach.</p>
                <p>10. In the event of your breach of this Terms of Use, you agree that SS Eduventures Pvt. Ltd. will be irreparably harmed and will not have an adequate remedy in money or damages. SS Eduventures Pvt. Ltd. therefore, shall be entitled in such event to obtain an injunction against such a breach from any court of competent jurisdiction immediately upon request. SS Eduventures Pvt. Ltd.’s right to obtain such relief shall not limit its right to obtain other remedies.</p>
<p>11. SS Eduventures would never spy or collect personal information that could compromise the privacy of the user. SS Eduventures Pvt. Ltd. would install certificates on your device to secure its content and Intellectual Properties. In some Andriod devices there could be a warning or notification of these certificates as a possible spy on network. The certificate is issued to the local host and used for securing our Intellectual Properties. SS Eduventures or any of its partners do not have any means to spy or monitor your activities on your network. The root certificate can be requested from info@DIGICHAMPS.com for any validation if the user needs. </p>
<p>12. Persons who are "competent/capable" of contracting within the meaning of the Indian Contract Act, 1872 shall be eligible to use our products or services. Persons who are minors, un-discharged insolvents etc. are not eligible to use our products or services. As a minor if you wish to use our products or services, such use shall be made available to you by your legal guardian or parents. SS Eduventures Pvt. Ltd. will not be responsible for any consequence that arises as a result of misuse of any kind of our products or services that may occur by virtue of any person including a minor using the services provided. By using the products or services you warrant that all the data provided by you is accurate and complete and that you have obtained the consent of parent/legal guardian(in case of minors). SS Eduventures Pvt. Ltd. reserves the right to terminate your subscription and / or refuse to provide you with access to the products or services if it is discovered that you are under the age of 18 years and the consent to use the products or services is not made by your parent/legal guardian or any information provided by you is inaccurate.</p>
<p>13. We may disclose to third party services certain personally identifiable information listed below:<br/>

i)	Information you provide us such as name, email, mobile phone number<br />

ii)	Information we collect as you access and use our service, including device information and network carrier
</p>
                <p>14. This information is shared with third party service providers so that we can:<br />

i)	Personalize the app for you<br />

ii)	Perform behavioural analytics
               </p>
</div>
           
        </div>
    </div>
</section>
