@{
    ViewBag.Title = "checkpermission";
}
<link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
<div style="text-align:center">
    <h1>sorry</h1>
    <h2>You don't have permission to this page</h2>
    <a href="/Admin/AdminDashboard" class="btn btn-success"><span>Go To Dashboard</span></a>
</div>
