@{
    Layout = "~/Views/Shared/_StudentIndex.cshtml";
}


<!--Banner Section Start-->
<section class="fullscreen background">
    <div class="patter-screen">
        <span class="shape-one"></span>
        <span class="shape-two"></span>
        <span class="shape-thre"></span>
        <span class="shape-four"></span>
        <div class="content-a">
            <div class="content-b">
                <div class="caption_contain">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1 class="title">Do you think studying is boring?</h1>
                                <img src="~/Student_assets/images/book.png" alt="">
                                <p>We Bring</p>
                                <h2>FUNDUCATION</h2>
                                <div class="home-for-cont">
                                    <form action="">
                                        <input type="text" class="form-control mob-form" name="" placeholder="Enter Your Mobile Number"/>
                                        <a href="javascript:void(0)" class="home-submit"><button class="btn-blue">Let's Begin</button></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="scroll-down"></span>
</section>
<!--Banner Section End-->
<!--Hilights of products Section Start-->
<section class="content-area hilights-of-products">
	<div class="container">
	    <h1>Our Highlights</h1>
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="ful-main">
                        <div class="h1-box">
                            <h2>Our Videos</h2>
                            <p>Real Life Video Lessons: Practical demonstrations for better understanding.</p>
                        </div>
                        <div class="h1-box">    
                            <h2>Test Analytics</h2>
                            <p>Multiple Tests with instant reports & leaderboard for better analysis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="ful-main an-full">
                        <div class="h1-box">
                            <h2>Learning Centre</h2>
                            <p>How we define the future of the classroom learning by bringing you tab based education. </p>
                        </div>
                        <div class="h1-box">    
                            <h2>Digiguru</h2>
                            <p>Online doubt clearing of your doubts 24x7 & mentoring by experts.</p>
                        </div>
                    </div>
                </div>
            </div>
	</div>
        
	<!--<div class="our-prd-warper">
	    <div class="container">
		<div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="product-container">
			    <div class="prd-detail">
				<span class="pre-recorder"></span>
				<div class="right-part">
				    <h2>Tab-based Learning</h2>
				    <p>So that you don't get dependent on your classroom teaching. Now don't miss even a single class ANYTIME ANYWHERE.</p>
				</div>
			    </div>
			</div>
			<div class="product-container">
			    <div class="prd-detail">
				<span class="analytical-tests"></span>
				<div class="right-part">
				    <h2>AC + WiFi</h2>
                                    <p>Modern Tech Classroom with a Teacher with Fully Air Conditioned and Wifi Enabled Classrooms to have the best Environment.</p>
				</div>
			    </div>
			</div>
			<div class="product-container">
			    <div class="prd-detail">
				<span class="doubt-clearing-portal"></span>
				<div class="right-part">
				    <h2>Personal Doubt Clearing</h2>
				    <p>Clear your doubt 24x7 with our experts and also Interact with our teachers one-on-one at Learning Centres.</p>
				</div>
			    </div>
			</div>
			<div class="product-container">
			    <div class="prd-detail">
				<span class="interaction"></span>
				<div class="right-part">
				    <h2>Analytical Tests & Counselling</h2>
				    <p>Individualized test reports for Every Student, so the Student has an Idea about his/hers Weakness in a particular Topic and Individualized Counselling.</p>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="full-image">
			    <div class="add_figure">
				<div class="single-image-wrapper"><img class="img-responsive" src="~/Student_assets/images/product-add.jpg" /></div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>-->
	<div class="clearfix"></div>
    </section>
<!--Highlights of products Section End-->

    <section class="content-area discover-toor">
	<div class="affordable-price-overlay popup-gallery">
	    <div class="container">
		<h1>Take A Video Tour To Discover How It Works</h1>
		<a class="popup-player" href="https://www.youtube.com/watch?v=L_WTgC77FJ0"><button class="btn-blue">Discover</button></a>
	    </div>
	</div>
    </section>

<section class="sample-lecture">
    <div class="container">
        <h1 class="middle-header">Few Amazing Funducation Videos</h1>
	<div class="video-div-position">
	    <div class="owl-video-main-container">
		<div id="owl-demo3" class="owl-carousel popup-gallery">
            <a class="popup-player" href="https://www.youtube.com/watch?v=wskTe9O5GsY">
                <div class="item">
                    <img src="~/Student_assets/images/video-1.jpg">
                </div>
            </a>
            <a class="popup-player" href="https://www.youtube.com/watch?v=D5G-57Z0eDc">
                <div class="item">
                    <img src="~/Student_assets/images/video-2.jpg">
                </div>
            </a>
            <a class="popup-player" href="https://www.youtube.com/watch?v=hJgjUmWLCPI">
                <div class="item">
                    <img src="~/Student_assets/images/video-3.jpg">
                </div>
            </a>
            <a class="popup-player" href="https://www.youtube.com/watch?v=wskTe9O5GsY">
                <div class="item">
                    <img src="~/Student_assets/images/video-1.jpg">
                </div>
            </a>
            <a class="popup-player" href="https://www.youtube.com/watch?v=D5G-57Z0eDc">
                <div class="item">
                    <img src="~/Student_assets/images/video-2.jpg">
                </div>
            </a>
            <a class="popup-player" href="https://www.youtube.com/watch?v=hJgjUmWLCPI">
                <div class="item">
                    <img src="~/Student_assets/images/video-3.jpg">
                </div>
            </a>
		</div>
		<div class="overlay-desktop">
		    <img src="~/Student_assets/images/desktop.png" class="img-responsive" />
		</div>
	    </div>
	    <div class="clearfix"></div>
	    <div class="customNavigation video-navigation">
		<a href="javascript:void(0)" class="prev-slide-video"></a>
		<a href="javascript:void(0)" class="next-slide-video"></a>
	    </div>
	</div>
        <!--<p class="demo demo-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra tempus nunc, id fringilla sapien mattis ut. Vestibulum lacinia egestas volutpat. Sed rutrum lectus a arcu tincidunt, eget gravida eros scelerisque.</p>-->
    </div>
</section>
<!--Student testimonial Section Start-->
<section class="content-area student-says">
    <div class="container">
        <h1>What Students Say</h1>
        <div class="owl-main-div">
            <div id="owl-demo2" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="student-image">
                                <img src="~/Student_assets/images/testimonial-3.jpg" class="img-responsive img-border" />
                                <span class="quote"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="student-messages">
                                <span class="top-hr-one"></span>
                                <p class="student-text">Science is no longer a boring subject for me. The videos of Digichamps are realistic and the teachers are energetic which makes learning exciting. I love FUNDUCATION!</p>
                                <span class="top-hr-two"></span>
                                <p class="student-name">Class IX, Ishita Behera</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="student-image">
                                <img src="~/Student_assets/images/testimonial-4.jpg" class="img-responsive img-border" />
                                <span class="quote"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="student-messages">
                                <span class="top-hr-one"></span>
                                <p class="student-text">Maths was the most difficult subject for me and I needed repeated explanations. But thanks to Digichamps videos, I can go through a chapter multiple times and understand the concepts all by myself. </p>
                                <span class="top-hr-two"></span>
                                <p class="student-name">STD-X, Gaurav Singh</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="student-image">
                                <img src="~/Student_assets/images/testimonial-1.jpg" class="img-responsive img-border" />
                                <span class="quote"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="student-messages">
                                <span class="top-hr-one"></span>
                                <p class="student-text">One of my classmates  suggested me to go through the videos of Digichamps. It helped me in understanding the topics easily.</p>
                                <span class="top-hr-two"></span>
                                <p class="student-name">STD-VIII, Ahil Khan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="student-image">
                                <img src="~/Student_assets/images/testimonial-2.jpg" class="img-responsive img-border" />
                                <span class="quote"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="student-messages">
                                <span class="top-hr-one"></span>
                                <p class="student-text">Going for tuitions was boring for me. The videos of Digichamps are interesting and I love studying anywhere and anytime I want.</p>
                                <span class="top-hr-two"></span>
                                <p class="student-name">STD-VI, Kinshuk Patel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="customNavigation position-btn">
                <a href="javascript:void(0)" class="prev-slide"></a>
                <a href="javascript:void(0)" class="next-slide"></a>
            </div>
        </div>
    </div>
</section>
<!--Student testimonial Section End-->
<!--Go education Section Start-->
<section class="content-area go-education">
    <div class="container">
        <h1>Our Journey So Far</h1>
        <!--<p class="demo small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales velit eu eros rhoncus varius. Nulla porttitor nisi magna, sed molestie risus fringilla et. Aenean sagittis leo sem, sagittis.</p>-->
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <img src="~/Student_assets/images/tab-mobile.png" class="img-responsive margin-bottom-sm" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="counter">
                <div class="box-container counter-right">
                    <div class="edu-box">
                        <span class="Count">1722</span>
                        <p>Champs <br/> Spotted</p>
                    </div>
                </div>
                <div class="box-container">
                    <div class="edu-box">
                        <span class="Count">60711</span>
                        <p>Questions  <br/>Attempted</p>
                    </div>
                </div>
                <div class="box-container counter-right">
                    <div class="edu-box">
                        <span class="Count">3315</span>
                        <p>Tests <br/> Taken</p>
                    </div>
                </div>
                <div class="box-container">
                    <a href="https://play.google.com/store/apps/details?id=com.sseduventures.digichamps" target="_blank">
                        <div class="edu-box bx-before">
                            <span class="download-app">Download App</span>
                            <img src="~/Student_assets/images/google-play.png" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Go education Section End-->
<!--Affordable Price Section Start-->
<section class="content-area affordable-price">
    <div class="affordable-price-overlay">
        <div class="container">
            <h1>Get Your Subscription Today</h1>
	    <p class="info-per">Introductory Offer - Get 30% Off</p>
            <a href="javascript:viod(0)"><button class="btn-blue pre_book">Book Now</button></a>
	    <p class="info-num">Looking To Experience Tab-Based Digital Education At our Learning Center</p>
            <a class="popup-player" href="https://www.youtube.com/watch?v=L_WTgC77FJ0"><button class="btn-blue pre_book tour-360">Take a 360<sup>.</sup> Tour</button></a>
	    <em>Visit Our Centre At</em>
	    <p class="add-ress">2nd floor , District Centre, Behind BPCL, Infront of Akash Institute,, Chandrasekharpur, Bhubaneswar, Odisha 751016</p>
            <!--<a href="javascript:viod(0)"><button class="btn-white btn-white-margin dull-display">Buy Your Course</button></a>
            <a href="javascript:viod(0)"><button class="btn-blue display-block">Book Free Counselling</button></a>-->
        </div>
    </div>
</section>


<!--Affordable Price Section End-->
<!--Check Yourself Section Start-->
<section class="content-area check-yourself">
    <div class="container">
        <!--<h1>Take A Test, Check Yourself</h1>-->
        <p class="demo"><blink class="blink2">5%</blink> More Marks Guaranteed or <blink class="blink">100%</blink> Money Back*</p>
        <div class="contact-imp">
        <p class="toll-free-number"><img src="~/Student_assets/images/toll-free-number.jpg"/></p>
        <p class="toll-free-number write-to-us"><img src="~/Student_assets/images/write-to-us.jpg"/></p>
        </div>
    </div>
</section>
<!--Check Yourself Section End-->

