@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}
<div class="panel panel-ntspl">
    <div class="panel-heading">
        <h3>Change Password</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ChangePassword", "Parent", FormMethod.Post, new { @class = "form-horizontal", id = "validation-form" }))
        {
            <div class="page-content-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-content">
                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Current Password<span class="asterisk">*</span></label>
                                    <div class="col-sm-9 col-lg-7 controls">
                                        <input type="password" placeholder="Current Password" class="form-control" name="Old_Password" id="Old_Password" data-rule-required="true" data-msg-required="Please enter current password" data-rule-minlength="6" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3 col-lg-2 control-label">New Password<span class="asterisk">*</span></label>
                                    <div class="col-sm-9 col-lg-7 controls">
                                        <input type="password" placeholder="New Password" class="form-control" name="New_Password" id="New_Password" data-rule-required="true" data-msg-required="Please enter new password" data-rule-minlength="6" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3 col-lg-2 control-label">Confirm Password<span class="asterisk">*</span></label>
                                    <div class="col-sm-9 col-lg-7 controls">
                                        <input type="password" placeholder="Re-Enter Password" class="form-control" name="Conf_Password" id="Conf_Password" data-rule-required="true" data-msg-required="Please enter confirm password" data-rule-minlength="6" data-rule-equalto="#New_Password" />
                                    </div>
                                </div>

                                <div class="form-group last">
                                    <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                        <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                                        <a href="@Url.Action("ParentDashboard", "Parent")" class="btn btn-primary"><i class="fa fa-caret-left"></i> Back </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END NEW RECORD -->
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    <script>
        $('#validation-form').submit(function (e) {
            e.preventDefault();
            if ($(this).valid()) {
                $.ajax({
                    type: 'POST',
                    url: "/Parent/ChangePassword",
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data == "0") {
                            $.noty.closeAll();
                            generate('top', 'error', "Current password Is wrong.");
                        }
                        else if (data == "-1") {
                            $.noty.closeAll();
                            generate('top', 'warning', "The new password & confirm password are not matching.");
                        }
                        else if (data == "1") {
                            $.noty.closeAll();
                            generate('top', 'success', "Password changed successfully.");
                            $("#validation-form1").get(0).reset();
                        }
                        else if (data == "-2") {
                            location.href = "/Parent/logout";
                        }
                        else {
                            $.noty.closeAll();
                            generate('top', 'error', data);
                        }
                    }
                });
            }
        });

    </script>
